/* <length> value */
max-width: 3.5em;

.center {
    text-align: center;
  }
  body {
    background-color: lightblue;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  h1 {
    color: navy;
    margin-left: 20px;
  }

  p {
    border: 2px solid powderblue;
    margin: 50px;
  }

#content
max-width: 1600px;
margin: 0 auto;

#background {
    height: 725px;
}

div { background-color: #FFFFFF; }



body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}

.book, .join {
    background-color: black;
}

.book:hover, .join:hover {
    background-color: black;
}
#background {
    background-color: black;
}
.msg {
    background-color: black;
}
footer {
    background-color: black;
}

nav a {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
.home-title {
    background-color: black;
}
h4 {
    background-color: black;
}
.book, .join {
    background-color: black;
}
.book:hover, .join:hover {
    background-color: black;
}
.msg h2 {
    background-color: black;
}
.msg p {
    background-color: black;
}
footer {
    background-color: black;
}
footer a {
    background-color: black;
}
footer a:hover {
    background-color: black;
} 
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.book, .join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    